#main {
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
}
button {
    background-color: transparent;
    border: none;
    color: black;
    display: block;
    cursor: pointer;;
    font-style: bold;
    font-size: 20px;
}